[Unit]
Description=GearVia B2B application stack
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
WorkingDirectory=/opt/b2bgearvia
ExecStart=/usr/bin/docker compose --env-file /etc/gearvia/runtime.env -f /opt/b2bgearvia/compose.yml up -d
ExecStop=/usr/bin/docker compose --env-file /etc/gearvia/runtime.env -f /opt/b2bgearvia/compose.yml down
RemainAfterExit=yes
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
